[package]
name = "benchmark"
version = "0.1.0"
edition = "2021"

[dependencies]
futures = "0.3.26"
futures-util = "0.3.26"
gotham = "0.7.1"
mime = "0.3.16"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
logic = { path = "../logic" }